@import "styles/variables";
@import "styles/typography";
@import "styles/header";
@import "styles/projects";

* {
  box-sizing: border-box;
}

a {
  color: $secondary;
  text-decoration: none;
}

.btn {
  background: $primary;
  color: $secondary;
  border: none;
  font-family: "FuturaDemiC", sans-serif;

  &:hover {
    color: $tertiary;
  }
}
