$primary: #e3b873;
$secondary: #ffffff;

@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/futuraDemiC/FuturaDemiC.otf") format("opentype");
}

@font-face {
  font-family: "YesevaOne";
  src: url("../assets/fonts/yesevaOne/YesevaOne.otf") format("opentype");
}
@font-face {
  font-family: "FuturaBook";
  src: url("../assets/fonts/futuraBookC/FuturaBookC.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: #000000;

  .main-title {
    color: $primary;
    font-size: 12px;
    font-family: "FuturaDemiC", sans-serif;
    text-transform: uppercase;
  }

  .mobile {
    color: $secondary;
    font-size: 12px;
    font-family: "FuturaDemiC", sans-serif;
  }
}

.introduction {
  width: 375px;
  height: 476px;
  padding: 85px 18px 0;
  background-image: url("../assets/images/introductionBGMobile.png");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;

  .introduction__header {
    margin-bottom: 16px;
    font-size: 23px;
    font-family: "YesevaOne", sans-serif;
    color: $secondary;
  }

  .introduction__text {
    margin-bottom: 32px;
    font-size: 18px;
    font-family: "FuturaBook", sans-serif;
    color: $secondary;
  }

  .calculate {
    width: 338px;
    height: 51px;
    margin-bottom: 26px;
    border: none;
    background: $primary;
    font-family: "FuturaDemiC";
    color: $secondary;
  }

  .apply {
    width: 338px;
    height: 51px;
    border: 1px solid $secondary;
    background: rgba(0, 0, 0, 0);
    font-family: "FuturaDemiC";
    color: $secondary;
  }
}
