@import "styles/variables";
@import "styles/typography";
@import "styles/header";
@import "styles/projects";
@import "styles/control";
@import "styles/types";
@import "styles/graph";
@import "styles/dreams";
@import "styles/design";
@import "styles/steps";
@import "styles/team";
@import "styles/clients";
@import "styles/questions";
@import "styles/map";

* {
  box-sizing: border-box;
}

a {
  color: $secondary;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.btn {
  background: $primary;
  color: $secondary;
  border: none;
  font-family: "FuturaDemiC", sans-serif;

  &:hover {
    color: $tertiary;
  }
}
