@import "styles/variables";
@import "styles/typography";
@import "styles/header";
@import "styles/projects";
@import "styles/control";
@import "styles/types";
@import "styles/graph";
@import "styles/dreams";
@import "styles/design";
@import "styles/steps";
@import "styles/team";
@import "styles/clients";
@import "styles/questions";
@import "styles/map";

body {
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}

a {
  color: $secondary;
  text-decoration: none;

  &:hover {
    color: $primary;
  }
}

.btn {
  background: $primary;
  color: $secondary;
  border: none;
  font-family: "FuturaDemiC", sans-serif;

  &:hover {
    color: $tertiary;
    cursor: pointer;
  }
}

.checkbox-label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.checkbox {
  display: none;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: $primary;

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 2px;
    left: 4px;
    height: 8px;
    width: 5px;
    border: solid $secondary;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.checkbox:checked ~ .custom-checkbox::after {
  display: block;
}
