$primary: #e3b873;
$secondary: #ffffff;

@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/futuraDemiC/FuturaDemiC.otf") format("opentype");
}

@font-face {
  font-family: "YesevaOne";
  src: url("../assets/fonts/yesevaOne/YesevaOne.otf") format("opentype");
}
@font-face {
  font-family: "FuturaBook";
  src: url("../assets/fonts/futuraBookC/FuturaBookC.otf") format("opentype");
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
  background: black;

  .navigation {
    width: 60%;
    display: flex;
    justify-content: space-around;

    .navigation__item {
      color: $secondary;
      font-family: "FuturaBook", sans-serif;

      &:hover {
        color: $primary;
      }
    }
  }

  .main-title {
    color: $primary;
    font-size: 12px;
    font-family: "FuturaDemiC", sans-serif;
    text-transform: uppercase;
  }

  .mobile {
    color: $secondary;
    font-size: 12px;
    font-family: "FuturaDemiC", sans-serif;
  }

  .call-request {
    width: 161px;
    height: 37px;
    border: none;
    background: $primary;
  }
}

.introduction {
  height: 707px;
  padding: 194px 0 0 142px;
  background-image: url("../assets/images/introductionBGDesktop.png");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;

  .aside-block {
    position: absolute;
    display: flex;
    top: 90px;
    left: 0;
    width: 82px;
    height: 707px;
    background: black;
    color: $secondary;

    .aside-block__text {
      transform: rotate(90deg);
      margin: auto;
      font-family: "FuturaDemiC";
    }
  }

  .introduction__header {
    margin-bottom: 20px;
    font-size: 40px;
    font-family: "YesevaOne", sans-serif;
    color: $secondary;

    .introduction__header_emphasized {
      color: $primary;
    }
  }

  .introduction__text {
    margin-bottom: 41px;
    font-size: 22px;
    font-family: "FuturaBook", sans-serif;
    color: $secondary;
  }

  .calculate {
    width: 207px;
    height: 51px;
    margin-bottom: 26px;
    margin-right: 20px;
    border: none;
    background: $primary;
    font-family: "FuturaDemiC";
    color: $secondary;
  }

  .apply {
    width: 207px;
    height: 51px;
    border: 1px solid $secondary;
    background: rgba(0, 0, 0, 0);
    font-family: "FuturaDemiC";
    color: $secondary;
  }
}

@media only screen and (max-width: 975px) {
  .header {
    .navigation {
      display: none;
    }
  }

  .introduction {
    padding: 194px 0 0 80px;

    .aside-block {
      display: none;
    }
  }
}

@media only screen and (max-width: 375px) {
  .header {
    height: 60px;
    background: #000000;

    .navigation {
      display: none;
    }

    .call-request {
      display: none;
    }
  }

  .introduction {
    width: 375px;
    height: 476px;
    padding: 85px 18px 0;
    background-image: url("../assets/images/introductionBGMobile.png");

    .introduction__header {
      margin-bottom: 16px;
      font-size: 23px;
    }

    .introduction__text {
      margin-bottom: 32px;
      font-size: 18px;
    }

    .calculate {
      width: 338px;
      height: 51px;
      margin-bottom: 26px;
    }

    .apply {
      width: 338px;
      height: 51px;
    }
  }
}
