.control {
  padding: 57px 18px 0;
  background: $tertiary;
  color: $secondary;

  .control__header {
    margin-bottom: 20px;
    font-size: 22px;
    font-family: "YesevaOne", sans-serif;
    text-align: center;
  }

  .control__image {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

    .picture {
      margin: 0 10px;
    }

    &::before {
      content: "";
      width: 32px;
      height: 1.2px;
      margin-top: 16px;
      background: $primary;
    }

    &::after {
      content: "";
      width: 32px;
      height: 1.2px;
      margin-top: 16px;
      background: $primary;
    }
  }

  .video-clip {
    width: 340px;
    height: 207px;
  }

  .divider {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 21px;

    &::before {
      content: "";
      width: 55px;
      height: 1.5px;
      background: $primary;
    }
  }

  .control__text {
    margin-bottom: 50px;
    font-size: 14px;
    font-family: "FuturaBookC", sans-serif;
    text-align: center;
    line-height: 1.4rem;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr;

    .label {
      color: rgba(255, 255, 255, 0.5);
      @include fontFuturaBook;
    }

    .input {
      width: 100%;
      padding: 7px 0;
      border: none;
      border-bottom: 1px solid $secondary;
      background: $tertiary;
      font-size: 15px;
      color: $secondary;
      @include fontFuturaBook;

      &::placeholder {
        font-size: 18px;
        color: $secondary;
      }
    }

    .name-label {
      grid-row: 1/2;
      margin-bottom: 63px;
    }

    .number-label {
      grid-row: 2/3;
      margin-bottom: 27px;
    }

    .checkbox-label {
      grid-row: 3/4;
      margin-bottom: 62px;
      font-size: 16px;
      @include fontFuturaBook;
    }

    .submit {
      grid-row: 4/5;
      justify-self: center;
      width: 340px;
      height: 51px;
    }
  }
}

@media only screen and (min-width: 375px) {
}

@media only screen and (min-width: 768px) {
  .control {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $secondary;
    color: $tertiary;

    .video-clip {
      margin-top: -400px;
      width: 817px;
      height: 434px;
    }

    .control__text {
      width: 681px;
    }

    .form {
      grid-template-columns: 1fr 1fr 1fr;

      .label {
        color: rgba(54, 54, 54, 0.5);
      }

      .input {
        width: 260px;
        background: $secondary;
        border-bottom: 1px solid $tertiary;
        color: $tertiary;

        &::placeholder {
          color: $tertiary;
        }
      }

      .name-label {
        grid-row: 1/2;
        grid-column: 1/2;
      }
      .number-label {
        grid-row: 1/2;
        grid-column: 2/3;
      }
      .checkbox-label {
        grid-row: 2/3;
        grid-column: 2/3;
        margin-bottom: 147px;
      }
      .submit {
        grid-row: 3/4;
        grid-row: 1/2;
        width: 200px;
        height: 51px;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}
