.graph {
  display: none;
}

@media only screen and (min-width: 1400px) {
  .graph {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 260px;

    .graph__image {
      position: relative;
      width: 800px;
      height: 691px;
      background: url("../assets/images/graph.png") no-repeat;

      .graph__circle {
        position: absolute;
        top: 30px;
        left: -100px;
        // background: red;
        width: 650px;
        height: 650px;
        border: 5px solid $primary;
        border-radius: 50%;
      }

      .graph__point {
        display: flex;
        align-items: center;
        position: absolute;

        .point__number {
          width: 102px;
          height: 100px;
          @include fontYesevaOne;
          font-size: 18px;
          line-height: 60px;
          color: $secondary;
          text-align: center;
          background-color: $primary;
          border: 20px solid $secondary;
          border-radius: 50%;
        }

        .point__text {
          margin-left: 20px;
          @include fontFuturaMedium;
          font-size: 18px;
        }
      }

      .point_one {
        top: 10px;
        left: 290px;
      }

      .point_two {
        top: 130px;
        left: 440px;
      }

      .point_three {
        top: 310px;
        left: 495px;
      }

      .point_four {
        top: 493px;
        left: 440px;
      }
    }

    .details {
      .form {
        width: 509px;
        padding: 28px 49px 0;
        justify-self: left;
        align-self: center;
        background: $tertiary;

        .form__header {
          width: 297px;
          margin-left: 50px;
          margin-bottom: 40px;
          @include fontFuturaDemi;
          font-size: 20px;
          text-align: center;
          color: $secondary;
        }

        .label {
          @include fontFuturaBook;
          font-size: 15px;
          color: rgba(255, 255, 255, 0.5);
        }

        .input {
          width: 100%;
          margin-bottom: 50px;
          padding: 8px 0;
          border: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.6);
          @include fontFuturaMedium;
          font-size: 18px;
          background: $tertiary;
          color: $secondary;

          &::placeholder {
            color: $secondary;
          }
        }

        .email-input {
          margin-bottom: 16px;
        }

        .checkbox-label {
          font-size: 16px;
          color: $secondary;
        }

        .submit {
          margin-top: 40px;
          margin-bottom: 27px;
          width: 213px;
          height: 51px;
          margin-left: 200px;
          font-size: 13px;
          text-transform: uppercase;
        }
      }

      .discount {
        margin-top: 38px;
        display: flex;
        align-items: center;

        .discount__details {
          @include fontFuturaDemi;
          font-size: 20px;
          color: $primary;
        }
      }
    }
  }
}
