.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: #000000;

  .main-title {
    color: $primary;
    font-size: 12px;
    font-family: "FuturaDemiC", sans-serif;
    text-transform: uppercase;
  }

  .navigation__list {
    display: none;
  }

  .mobile {
    color: $secondary;
    font-size: 12px;
    font-family: "FuturaDemiC", sans-serif;
  }

  .request__btn {
    display: none;
  }
}

.introduction {
  width: 375px;
  height: 476px;
  padding: 85px 18px 0;
  background-image: url("../assets/images/introductionBGMobile.png");
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;

  .introduction__header {
    margin-bottom: 16px;
    font-size: 23px;
    font-family: "YesevaOne", sans-serif;
    color: $secondary;

    .introduction__header_emphasized {
      color: $primary;
    }
  }

  .introduction__text {
    margin-bottom: 32px;
    font-size: 18px;
    font-family: "FuturaBookC", sans-serif;
    color: $secondary;
  }

  .btn-calculate {
    width: 338px;
    height: 51px;
    margin-bottom: 26px;
  }

  .btn-apply {
    width: 338px;
    height: 51px;
    border: 1px solid $secondary;
    background: rgba(0, 0, 0, 0);
    font-family: "FuturaDemiC";
    color: $secondary;

    &:hover {
      color: $primary;
    }
  }
}

@media only screen and (min-width: 375px) {
  .header {
    .request__btn {
      display: block;
      width: 161px;
      height: 37px;
      font-size: 13px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 90px;

    .main-title {
      font-size: 14px;
    }

    .navigation__list {
      width: 55vw;
      display: flex;
      justify-content: space-between;
      color: $secondary;
      font-family: "FuturaBookC", sans-serif;
      font-size: 14px;

      .navigation__link {
        color: $secondary;
        text-decoration: none;
      }
    }

    .mobile {
      color: $primary;
    }
  }
}
