.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background: #000000;

  .main-title {
    color: $primary;
    font-size: 12px;
    font-family: "FuturaDemiC", sans-serif;
    text-transform: uppercase;
  }

  .navigation__list {
    display: none;
  }

  .mobile {
    color: $secondary;
    font-size: 12px;
    font-family: "FuturaDemiC", sans-serif;
  }

  .request__btn {
    display: none;
  }
}

.introduction {
  width: 375px;
  height: 476px;
  padding: 85px 18px 0;
  background-image: url("../assets/images/introductionBGMobile.png");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;

  .introduction__header {
    margin-bottom: 16px;
    font-size: 23px;
    font-family: "YesevaOne", sans-serif;
    color: $secondary;

    .introduction__header_emphasized {
      color: $primary;
    }
  }

  .introduction__text {
    margin-bottom: 32px;
    font-size: 18px;
    font-family: "FuturaBookC", sans-serif;
    color: $secondary;
  }

  .btn-calculate {
    width: 338px;
    height: 51px;
    margin-bottom: 26px;
  }

  .btn-apply {
    width: 338px;
    height: 51px;
    border: 1px solid $secondary;
    background: rgba(0, 0, 0, 0);
    font-family: "FuturaDemiC";
    color: $secondary;

    &:hover {
      color: $primary;
    }
  }

  .socials {
    display: none;
  }

  .scroll-down {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .header {
    .request__btn {
      display: block;
      width: 161px;
      height: 37px;
      font-size: 13px;
    }
  }

  .introduction {
    width: 100vw;
    height: 707px;
    padding: 195px 0 0 30px;
    background-image: url("../assets/images/introductionBGDesktop.png");
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;

    .introduction__header {
      font-size: 40px;
    }

    .introduction__text {
      font-size: 22px;
    }

    .btn-calculate {
      margin-right: 20px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 90px;

    .main-title {
      font-size: 14px;
    }

    .navigation__list {
      width: 55vw;
      display: flex;
      justify-content: space-between;
      color: $secondary;
      font-family: "FuturaBookC", sans-serif;
      font-size: 14px;

      .navigation__link {
        color: $secondary;
        text-decoration: none;
      }
    }

    .mobile {
      color: $primary;
    }
  }

  .introduction {
    padding: 195px 0 0 140px;
    .socials {
      display: flex;
      position: absolute;
      top: 90px;
      left: 0;
      width: 82px;
      height: 707px;
      background: $tertiary;

      .social__text {
        margin: auto;
        transform: rotate(90deg);
        font-family: "FuturaDemiC";
      }
    }

    .scroll-down {
      display: block;
      position: absolute;
      width: 247px;
      height: 97px;
      top: 750px;
      left: 0;
      padding: 40px 0 0 48px;
      font-size: 14px;
      color: $secondary;
      background: $tertiary;
      font-family: "YesevaOne", sans-serif;

      .fa-chevron-circle-down {
        margin-left: 12px;
        font-size: 22px;
        color: $primary;
      }
    }
  }
}
