.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 46px 18px 38px;
  background: $tertiary;

  .map-desktop {
    display: none;
  }

  .address {
    padding-top: 41px;
    text-align: center;

    .address__title {
      margin-bottom: 23px;
      line-height: 1.4rem;
      @include fontYesevaOne;
      font-size: 18px;
      color: $primary;
      text-transform: uppercase;
      text-align: center;

      a {
        color: $primary;
      }
    }

    .link {
      &:hover > img {
        transform: scale(1.3);
      }
    }

    .link__mail {
      margin-right: 20px;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .location {
    margin-top: -222px;
    padding: 274px 255px 65px;
    opacity: 0.9;

    .map-mobile {
      display: none;
    }

    .map-desktop {
      display: block;
    }

    .address {
      margin-bottom: 43px;
      order: -1;
    }
  }
}
