.projects {
  padding: 36px 18px 0 18px;
  background: $tertiary;

  .project-nav {
    display: none;
  }

  .projects__header {
    margin-bottom: 22px;
    text-align: center;
    font-family: "YesevaOne", sans-serif;
    font-size: 22px;
    color: $primary;

    .line {
      display: none;
    }
  }

  .projects__text {
    margin-bottom: 36px;
    text-align: center;
    font-family: "FuturaBookC", sans-serif;
    color: $secondary;
  }

  .projects__gallery {
    display: flex;
    margin-bottom: 36px;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    height: 241px;
    background: url("../assets/images/projectImage.png");

    .right-desktop {
      display: none;
    }

    .controls {
      margin: 14px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .project__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 341px;
    height: 146px;

    .project-item__title {
      margin-bottom: 11px;
      font-family: "YesevaOne", sans-serif;
      font-size: 14px;
      color: $primary;
    }

    .project-item__text {
      font-family: "FuturaBookC", sans-serif;
      font-size: 14px;
      color: $secondary;
    }
  }

  .pagination {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .projects {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 110px 100px 410px 100px;

    .project-nav {
      grid-column: 2/3;
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;
      font-family: "YesevaOne", sans-serif;
      font-size: 14px;

      .project-nav__link {
        opacity: 0.5;
        text-transform: uppercase;
        &:hover {
          text-decoration: underline;
          opacity: 1;
          color: $primary;
        }
      }
    }

    .projects__header {
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: 27px;
      line-height: 2.4rem;
      text-align: left;
      text-transform: uppercase;

      .line {
        display: inline;
        position: relative;
        margin-left: 35px;
        bottom: 5px;
      }
    }

    .projects__text {
      grid-column: 1/2;
      padding-right: 50px;
      font-size: 18px;
    }

    .projects__gallery {
      grid-column: 2/3;
      grid-row: 2/5;
      justify-content: flex-end;
      width: 100%;
      height: 482px;
      margin-bottom: 90px;
      background: url("../assets/images/projectImageDesktop.png");
      background-repeat: no-repeat;

      .right-desktop {
        display: inline;
      }

      .left-mobile,
      .right-mobile {
        display: none;
      }
    }

    .project__info {
      grid-column: 1/2;

      .project-item__title {
        font-size: 18px;
      }

      .project-item__text {
        font-size: 15px;
      }
    }

    .pagination {
      display: flex;
      width: 164px;
      justify-content: space-between;
      align-items: center;

      .pagination__arrow {
        cursor: pointer;
      }

      .pagination__item {
        opacity: 0.5;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }
    }
  }
}
