@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/futuraDemiC/FuturaDemiC.otf") format("opentype");
}

@font-face {
  font-family: "YesevaOne";
  src: url("../assets/fonts/yesevaOne/YesevaOne.otf") format("opentype");
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/futuraBookC/FuturaBookC.otf") format("opentype");
}
