@font-face {
  font-family: "FuturaDemiC";
  src: url("../assets/fonts/futuraDemiC/FuturaDemiC.otf") format("opentype");
}

@font-face {
  font-family: "YesevaOne";
  src: url("../assets/fonts/yesevaOne/YesevaOne.otf") format("opentype");
}
@font-face {
  font-family: "FuturaBookC";
  src: url("../assets/fonts/futuraBookC/FuturaBookC.otf") format("opentype");
}
@font-face {
  font-family: "FuturaMediumC";
  src: url("../assets/fonts/futuraMediumC/FuturaMediumC.otf") format("opentype");
}
@font-face {
  font-family: "ProximaNova";
  src: url("../assets/fonts/proximaNova/proximanova.otf") format("opentype");
}
