$primary: #e3b873;
$secondary: #ffffff;
$tertiary: #000000;

@mixin fontFuturaBook {
  font-family: "FuturaBookC";
}

@mixin fontFuturaDemi {
  font-family: "FuturaDemiC";
}

@mixin fontYesevaOne {
  font-family: "YesevaOne";
}

@mixin fontFuturaMedium {
  font-family: "FuturaMediumC";
}
